.Header{
    &-Cont{
        background-color: #3A3A3A;
        padding: 5px;
        margin-bottom: 10px;

        &-ButtonS{
            display: flex;
            justify-content: flex-end;
            button{
                display: flex;
                align-items: center;
                padding: 6px 16px;
                font-size: 13px;
                line-height: 1.846;
                border-radius: 7px;
                cursor: pointer;
                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 4px;
                }
            }
        }
    }
}